{% extends "main/base.html" %}

{% block title %}Create an account{% endblock %}

{% block content %}
<div id="about">
    <h1>Welcome to Idea Otter.</h1>

    <ul class="left-menu">
        <li><a href="#what">What</a></li>
        <li><a href="#how">How</a></li>
        <li><a href="#slate">Slates</a></li>
        <li><a href="#faq">FAQ</a></li>
        <li><a href="#who">Who</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>
    <div class="about-text">
        <h2 id="what">What is Idea Otter?</h2>
        <p>
        Do you have any idea? An inspiration? A possible project? Or maybe
        an answer to a question? A desire to collaborate? 
        </p>
        <p>If the answer was yes, then you're in the right place.</p>
        <p>Idea Otter is a light and simple way to quickly store
        your ideas online. You can unleash them to the rest of the world by publishing them
        to the global field, or, if you like, you can keep a list of private ideas, 
        so that you can look over them later, or see how your ideas change over time.
        </p>
        <p>
          We believe in ideas. No matter how simple, ridiculous, or silly. Why? Because
  ideas lead to movement, which is what gets us <i>there</i> (you know the
  place I mean). That's why we set Idea Otter up. We want to enable you to share
  your ideas, to get feedback on them, and to discover more.</p>
  <p>This isn't twitter, full of links, pancakes, and idleness. And it's not g+, full of good
  photos. This is an incubator, a place to store ideas until they're fully grown.
  (You can imagine ideas as baby otters, if you like. It doesn't help, but it sure is cute.
  That's pretty much the entire reason this is called IdeaOtter, actually.) 
  </p>
  <h2 id="how">How does it work?</h2>
  <p>
    Whenever you think of something, just use the
  <em>bookmarklet</em> to jot it down. Other users of the site can than see
  what it is you thought of, comment on it, and help you expand your ideas. Use
  tags to make it indexable, if you can. We'll suggest some for you, too. 
  </p><p>
      We don't want to get in the way of you and your thoughts, so we've made the
    process <em>as simple as possible</em>. Ideas can come at any moment, and
    you can't always act on them. What you think of could be the next Facebook,
    or save the planet. Maybe you don't have that idea right now - no bother - You can browse other users' ideas. 
    If you like something, tell them. If you'd love to work on it, share it.
    </p>
  <h2 id="slates">What are Slates?</h2>
  <p><em>Slates</em> are a neat way of sharing ideas with friends or coworkers. 
  Putting ideas out into the main stream can be a bit overwhelming - they can get drowned out easily. 
  And what if you have a list of ideas that don't stand alone well, like thinking of good names for your pet otter?</p>

  <p>That's where a slate comes in. You can create a slate, and post ideas to it - and they remain on that slate alone. 
  That way, you can keep track of ideas separately from the main stream, and without using tags. You can invite your friends,
  either by email or through username, to join your slate, and work with you on it. When you're done, you can flush all of the
  slate into the main stream, too, if you like - any ideas marked as private will remain on the slate, but this way, if you have
  that killer otter name, you can share it with the world easily. </p>

  <p>Slates are great for group projects; creativity feeds on creativity,
  and the more you see how others think, the more ideas you'll have yourself. Best of all, slates are permanent, so it's always there for later.
  Or, if you don't like what you've written, or you're finished, just wipe the slate clean, and you can start creating more ideas again.</p>

    <h2 id="faq">FAQ</h2>
      <p>
    <em>My idea isn't that good.</em> How do you know that? Maybe we'll
    disagree. <em>I have too many ideas!</em> Uh, that's not a problem. Share
    them all. <em>What about intellectual property?</em> Somehow, you're not getting it. 
    </p>
    <h2 id="who">Who are we?</h2>
    <p>We're a couple of students of web design, free thinking, and
    inspiration.</p>
    <p>Idea Otter started as a personal project of <a
        href="http://www.twitter.com/simonv3">Simon</a> to keep some of his
    ideas on file. It was also an excuse to make a bookmarklet. Neat. He then
    told <a href="http://www.twitter.com/richlitt">Richard</a> about it, who instantly 
    saw what a great tool it would be if it could just be
    tweaked like so. We asked <a
        href="http://www.twitter.com/oliviarafferty">Olivia</a> to draw us some
    otters, and here we are. 
    </p>
    <h2 id="contact">Get in touch!</h2>
    <p>Tweet at us <a href="http://www.twitter.com/ideaotter">@ideaotter</a>.</p>

    <p>Have ideas for the site? Have a problem? Want to just chat? We're all 
    over the world, and can respond pretty much any time <a
        href="mailto:contact@ideaotter.com">contact@ideaotter.com</a>.
    </p>
    
    <p>If you feel like your question belongs more in our "help" inbox, email 
    <a href="mailto:help@ideaotter.com">help@ideaotter.com</a>, but chances are 
    you'll be talking to the same person!
    </p>
</div>
</div>
{% endblock %}


