<!DOCTYPE html>

<html lang="en">
  <head>
<meta charset="utf-8" />
<meta name="description" content="Quickly store ideas and work together with others to make them a reality.">
<title>Idea Otter{% block title %}{% endblock %}</title>
<link rel="icon"
      type="image/ico"
      href="{{STATIC_URL}}images/favicon.ico">

      <link rel="stylesheet" href="{{STATIC_URL}}styles/style.css" type="text/css" />
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="/static/js/jquery-1.7.1.min.js"></script>


<script src="{{STATIC_URL}}js/jquery.infieldlabel.min.js"></script>
<script src="{{STATIC_URL}}js/script.js"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-30466785-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

    </head>
    <body>
      <header>
      <div id="header-wrapper">
        <div class="span-5">
          <h1><a title="home" href="/">idea otter</a></h1>
          <div class="meta">
          {% if user.is_authenticated %}
          <span class="logout">hi <a class="" title="your profile" href="/accounts/profile/">{{user.username}}</a>
            <a href="{% url slate %}" title="view slates">slates</a>
            <a class="" href="/accounts/logout/">log out</a>
          </span>
          {% else %}
          <a id="header-log-in" class="log-in {{is_splash}}" href="/accounts/login/">log in</a>
          <a id="header-register" class="register {{is_splash}}" href="/accounts/register/">register</a>

          {% endif %}
          <a class="about" title="contact and about" href="/about/">@</a>
        </div><!-- /meta -->

      </div><!-- /span-12 -->
      <div style="clear:both;"></div>
      <div id="menu-strip"></div>
      </div>


     </header>

    <div id="content">
    {% block content %}

    {% endblock %}
  </div>

<script>!function(d,s,id){var
    js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>  
<script>
$(document).ready(function(){
    $("#login.hide").hide();
    $("#register.hide").hide();

    $("label.hover-field").inFieldLabels();
    $("#convert").click(function(event){
        var c = confirm("Are you sure you want to convert this idea into a slate?")
        if (c == true)
            return 
        else
            event.preventDefault()
        });
    $("#release").click(function(event){
        var c = confirm("Are you sure you want to release all of these ideas into the wild? This will remove them from your slate permanently.")
        if (c == true)
            return 
        else
            event.preventDefault()
    });
    $("#clean").click(function(event){
        var c = confirm("Are you sure you want to clean this slate? This will delete these ideas permanently")
        if (c == true)
            return 
        else
            event.preventDefault()
    });

    $("#header-log-in.splash").toggle(function(event){
      event.preventDefault();
      $("#register").hide(200);
      $("#login").show(200);
    },function(event){
      event.preventDefault();
      $("#login").hide(100);
    })
    $("#header-register.splash").toggle(function(event){
      event.preventDefault();
      $("#login").hide(100);
      $("#register").show(200);
    },function(event){
      event.preventDefault();
      $("#register").hide(100);
    })
});
</script>

    </body>
</html>
