<!DOCTYPE html>

<html lang="en">
  <head>
<meta charset="utf-8" />

    
    <title>Generic {% block title %}{% endblock %}</title>
      <link rel="stylesheet" href="{{STATIC_URL}}styles/style.css" type="text/css" />
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="/static/js/jquery.infieldlabel.min.js"></script>

    </head>
    <body>
    <header>
    {% if user.is_authenticated %}
          <div class="logout">hi {{user.username}}
              <a class="link-button" href="/accounts/logout/">log out</a>
              <a class="link-button" href="/">home</a>
            </div>
              {% else %}
              <a class="link-button log-in" href="/accounts/login/">log in</a>
              {% endif %}
    <div style="bottom:0;right:0;font-size:.6em;">*beta: this is in no way finished.</div>
              
    </header>
    <div class="sevensixeight">
        
    {% block content %}

    {% endblock %}

</div>
<script>
$(document).ready(function(){
  $("label.hover-field").inFieldLabels();
});
    
</script>
    </body>
</html>
