<!DOCTYPE html>

<html>
    <head><title>Generic {% block title %}{% endblock %}</title>
      <link rel="stylesheet" href="{{STATIC_URL}}/styles/style.css" type="text/css" />
    
    </head>
    <body>
        <div id="header" class="main">
      <div class="sevensixeight">
        <h1>Generic</h1><a href="/"><img  src="{{STATIC_URL}}/images/logo-small.png" width=""/></a>
        
      </div>
    </div>
    <div class="sevensixeight">
    {% block content %}

    {% endblock %}
  </div>
    </body>
</html>
