{% extends "main/base.html" %}

{% block title %}Create an account{% endblock %}

{% block content %}


<div id="contact">
<h1>Contact</h1>
    
    <p>
    Tweet at us <a href="http://www.twitter.com/ideaotter/">@ideaotter</a>
    </p>

    <p>
    Have ideas for the site? Have a problem? Want to just chat? We're all over
    the world, and can respond pretty much any time <a 
        href="mailto:contact@ideaotter.com">contact@ideaotter.com</a>
    </p>
    <p>
    If you feel like your question belongs more in our "help" inbox, email <a
        href="mailto:help@ideaotter.com">help@ideaotter.com</a>, but
    chances are you'll be talking to the same person!
    </p>

</div>
{% endblock %}



