{% extends "main/base.html" %}

{% block content %}
<div class="center-page">

    {% if not perms.app.add_idea %}
    {% if messages %}
    <ul>
        {% for message in messages %}
            <li class="error-list">{{message}}</li>
        {% endfor %}
    </uL>

    {% endif %}

    <div class="link-button verify">Enter your e-mail address and we'll send you an e-mail just to make
        sure you're a real person, when you get it - click on the link and we'll have you posting
    ideas in no time!</div>
    <br/>
    <form action="/" id="email-form" method="post">{% csrf_token %}
        <ul>
            <li>

            <label class="hover-field" for="id_email">Email</label> 
                {{ emailForm.email }}
            </li>
            <li>
            <input type="submit" class="red-gradient submit-button"
            name="submit_email"value="verify" />
            </li>
        </ul>

    </form>
    {% else %}
    <h1>post your idea:</h1>

    <form action="/" id="idea-form" method="post">{% csrf_token %}
        <ul>
            <li>
            {{ ideaForm.idea_content }}
            </li>
            <li>
            <label for="id_tags">
            add some tags (comma separated):
            </label>
            {{ ideaForm.tags }}
            </li>
            <li>
            <label for="id_private">keep as private?</label>{{ideaForm.private }}
            </li>
        </ul>
    <br/>
    <br/>
    <input type="submit" class="red-gradient submit-button" name="submit_idea"value="Add it" />
    <input type="submit" class="red-gradient submit-button"
    name="submit_idea_elaborate"value="Add and elaborate it" />
    
</form>
<div id="bookmarklet">
    <p>Add the Idea! bookmarklet by dragging this button to your bookmark bar:
    <a href="javascript:window.open('http://{{request.get_host}}/bookmarklet/idea/','newWindowName','width=960,height=400,scrollbars=yes,status=no,titlebar=no,toolbar=no');void(0);">Idea!</a>
    </p>
</div>
{% endif %}

<div class="sort-by">
    sort by <a href="/">newest</a>, <a href="{% url splash-top %}">top voted</a></div>
<div class="show">
    show <a href="/">all</a>, <a href="{% url splash-started %}">started</a>,
    <a href="{% url splash-not-started %}">not started</a>
</div>
{% include "main/sub_search_form.html" %}
<ul class="idea_list">
    {{idea_results}}
    {% for idea in all_ideas %}
        {% include "main/sub_idea_list_item.html" %}
    {% empty %}
    <div class="not-found">We couldn't find any ideas, just otters:/ </div>
    <img src="{{STATIC_URL}}images/otters-404.gif"/>
    {% endfor %}
</ul>
</div>

{% endblock %}
