{% extends "main/base.html" %}

{% block content %}

<h1>An Idea</h1>

{% if edit %}

<form action="" method="post" id="edit-idea">{%csrf_token%}
    <ul>
        <li>
        <label for="id_idea_content"> Edit idea:</label><br/>
                {{ ideaForm.idea_content }}
                </li>
                <li>
            <label for="id_tags">Elaborate:</label><br/>
                {{ideaForm.elaborate}}
            </li>

            <li>
            <label for="id_tags">Edit tags:</label><br/>
            {{ideaForm.tags}}
            </li>
            <li><input type="submit" class="red-gradient submit-button"
            name="edit_idea" value="Save" /></li>
    </ul>


    {% else %}
    <div class="center-page">
        <p class="idea">{{idea.idea}}</p>
        {% ifequal idea.user request.user %}
        <a class="link-button" href="{% url app.views.idea idea.id %}edit/">edit idea</a>
        {% endifequal %}
{% include "main/sub_vote.html" %} 
        
    </div>
{% endif %}



{% if not edit %}
{% if perms.app.add_comment %}

<!--<div id="disqus_thread" style="max-width:500px;margin:0 auto;"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'ideaotter'; // required: replace example with your forum shortname
    var disqus_developer = 1;
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
-->

<form action="" method="post" id="comment-form">{% csrf_token %}
    <ul>
        <li><label for="id_comment">Add a comment:</label><br/>
        {{ commentForm.comment }}</li>
    </ul>
<input type="submit" class="red-gradient submit-button" name="submit_comment" value="Submit" />
</form>
{% endif %}
{% endif %}

<ul id="idea-comments">
{% for comment in relevant_comments %}
<li class="{% cycle 'odd' 'even' %}">{{comment.text}}  <span
    class="author">&#126;
    {{comment.user}}<br/>
    <span class="timesince">{{comment.date_posted|timesince}} ago</span></span>
    <div style="clear:both;"></div>
</li>
{% endfor %}
</ul>
    
{% endblock %}


