{% extends "main/base.html" %}

{% block content %}

<h1>An Idea</h1>

{% if edit %}

<form action="" method="post" id="edit-idea">{%csrf_token%}
    <ul>
        <li>
        <label for="id_idea_content"> Edit idea:</label><br/>
                {{ ideaForm.idea_content }}
            </li>
            <li>
            <label for="id_tags">Edit tags:</label><br/>
            {{ideaForm.tags}}
            </li>
            <li><input type="submit" class="red-gradient submit-button"
            name="edit_idea" value="Edit" /></li>
            
    </ul>


    {% else %}
    <div class="center-page">
        <h2>{{idea.idea}}</h2>
        <a class="link-button" href="{% url app.views.idea idea.id %}edit/">edit idea</a>
{% include "main/sub_vote.html" %} 
        
    </div>
{% endif %}



{% if not edit %}
{% if perms.app.add_comment %}
<form action="" method="post" id="comment-form">{% csrf_token %}
    <ul>
        <li><label for="id_comment">Add a comment:</label><br/>
        {{ commentForm.comment }}</li>
    </ul>
<input type="submit" class="red-gradient submit-button" name="submit_comment" value="Submit" />
</form>
{% endif %}
{% endif %}

<ul id="idea-comments">
{% for comment in relevant_comments %}
<li class="{% cycle 'odd' 'even' %}">{{comment.text}}  <span
    class="author">&#126;
    {{comment.user}}<br/>
    <span class="timesince">{{idea.date|timesince}} ago</span></span>
    <div style="clear:both;"></div>
</li>
{% endfor %}
</ul>
    
{% endblock %}


