{% extends "main/base.html" %}

{% block content %}
<div class="center-page">

    <h2>{{tag_name}}</h2>

<div class="sort-by">
    sort by <a href="/">newest</a>, <a href="{% url splash-top %}">top voted</a></div>
<div class="show">
    show <a href="/">all</a>, <a href="{% url splash-started %}">started</a>,
    <a href="{% url splash-not-started %}">not started</a>
</div>
{% include "main/sub_search_form.html" %}



<ul class="idea_list">
{% for idea in idea_results%}
{% include "main/sub_idea_list_item.html" %}
{% empty %}
<div class="not-found">We couldn't find any ideas, just otters :/
</div>
    
    <img src="{{STATIC_URL}}images/otters-404.gif"/>
{% endfor %}
</ul>
</div>

{% endblock %}

