{% extends "main/base.html" %}
{% load url from future %}

{% block content %}
<div id="login">
{% if not user.is_authenticated %}

<h1>Log In</h1>
{% if form.errors %}
<ul class="error-list">
    <li>
        Please make sure your username and password are correct. 
    </li>
</ul>
{% endif %}

<form id="log-in" autocomplete="off" method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}
<ul id="log-in-list">
<li>
            <label class="hover-field" for="id_username">Username:</label> 
    {{ form.username }}
</li>
<li>
            <label class="hover-field" for="id_password">Password:</label> 

    {{ form.password }}
    </li>
    <li><input type="submit" value="login" class="red-gradient submit-button"/></li>
<input type="hidden" name="next" value="{{ next }}" />
</ul>


</form>
<div class="link-button">Not yet a member? <a href="/accounts/register/"
        title="register">Registering</a> has benefits.</div>
{% else %}
You've already logged in! Go to your <a href="/accounts/profile/">profile</a>
{% endif %}
</div>
{% endblock %}

