{% extends "main/base.html" %}
{% block content %}
<div id="profile" class="center-page">
  <h2>Your Ideas</h2>
  <ul class="idea_list">
    {% for idea in your_ideas %} 
    {% include "main/sub_idea_list_item.html" %}
    {% empty %}
        You haven't posted any ideas yet. <a href="/">Post some</a>!
        {% endfor %}
    </ul>
    <h2>Ideas You Liked</h2>
  <ul class="idea_list">
      {% for vote in voted_on %}
      {% include "main/sub_idea_list_item.html" with idea=vote.idea %}
      {% empty %}
        You haven't liked any ideas yet.

      {% endfor %}
  </ul>
</div>
{% endblock %}
