{% extends "main/base.html" %}

{% block title %}Create an account{% endblock %}

{% block content %}

<h1>Got an idea?<br/> Write it down!</h1>
{% if form.errors %}
<ul class="error-list">
    {% if "password1" in form.errors or "password2" in form.errors%}<li> Please make sure your passwords are the same. </li>{% endif %}
    {% if "username" in form.errors %} <li>The username you have selected is already in use.</li>{% endif %}
</ul>
{% endif %}

<div id="register">
<form action="" autocomplete="off" method="post">
    {%csrf_token%}
    <ul id="register-list">
        {% if form.error_dict %}
            <p class="error">Please correct the errors below.</p>
        {% endif %}
        {% if form.username.errors %}
            {{ form.username.html_error_list }}
        {% endif %}
        <li>
            <label class="hover-field" for="id_username">Username:</label> {{ form.username }}
        </li>

        {% if form.password1.errors %}
            {{ form.password1.html_error_list }}
        {% endif %}
        <li>
            <label class="hover-field" for="id_password1">Password:</label> {{ form.password1 }}
        </li>


        {% if form.password2.errors %}
        {{ form.password2.html_error_list }}
        {% endif %}
        <li>
            <label class="hover-field" for="id_password2">Password again: </label>{{ form.password2 }}
            
        </li>

        <li><input type="submit" value="Create account" class="red-gradient submit-button"/></li>
    </ul>
</form>
</div>
<div id="about">

  <p class="right">
  "EUREKA!" If that is what you screamed earlier in the bathtub, you've come to
  the right place. Do you have any idea? An inspiration? A plan? A project? An
  answer to a question? Put it up!  </p>

  <p class="left">
  We believe in ideas. No matter how simple, ridiculous, or silly. Why? Because
  ideas lead to movement, which is what gets us <i>there</i> (you know the
  place I mean). That's why we set Ideas up. We want to enable you to share
  your ideas, to get feedback on them, and to discover more. This isn't
  twitter, full of links, pancakes, and idleness. And it's not g+, full of good
  photos. This is an incubator - and we hope the eggs are just about to crack
  open and fly. 
  </p>

  <p class="right">
  How it works: Whenever you think of something, just use the
  <em>bookmarklet</em> to jot it down. Other users of the site can than see
  what it is you thought of, comment on it, and help you expand your ideas. Use
  tags to make it indexable, if you can. We'll suggest some for you.

  </p>

  <p class="left">
    We don't want to get in the way of you and your thoughts, so we've made the
    process <em>as simple as possible</em>. Ideas can come at any moment, and
    you can't always act on them. What you think of could be the next Facebook,
    or save the planet. Maybe you don't have that idea right now - no bother - You can browse other users' ideas. If you like something, tell them. If you'd love to work on it, share it.
    </p>

    <p class="right">
    <em>My idea isn't that good.</em> How do you know that? Maybe we'll
    disagree. <em>I have too many ideas!</em> Uh, that's not a problem. Share
    them all. <em>What about intellectual property?</em> Somehow, you're not getting it.
</p>


<!-- 
<p class="right">
    First of all, this is largely just a way for me to keep track of things I
    would like to maybe work on in the future. 
</p>

<p class="left">
Whenever you think of something, just use the <em>bookmarklet</em> to jot it down.
    Other users of the site can than see what it is you thought of, comment
    on it, and help you expand your ideas.
</p>


<p class="right">
    We don't want to get in the way of you and your thoughts, so we've made the
    process <em>as simple as possible</em>.
    </p>

<p class="left">
    Ideas can come at any moment, and you can't always act on them. What you
    think of could be the next Facebook, or save the planet. So we let you
    write it down, and then you can come back to it at any time.
    </p>
    <p class="right">
    Or you can browse other users' ideas. If you like something, tell them. If
    you'd love to work on it, share it.
    </p>

    <p class="left">
    <em>What about intellectual property?</em> You're not getting it. 
</p>
-->



</div>
{% endblock %}

