{% extends "main/base.html" %}

{% block title %}Create an account{% endblock %}

{% block content %}

<h1>Got an idea? Write it down!</h1>
<div id="register">
<form action="" method="post">
    {%csrf_token%}
    <ul id="register-list">
        {% if form.error_dict %}
            <p class="error">Please correct the errors below.</p>
        {% endif %}
        {% if form.username.errors %}
            {{ form.username.html_error_list }}
        {% endif %}
        <li>
            <label for="id_username">Username:</label> {{ form.username }}
        </li>

        {% if form.password1.errors %}
            {{ form.password1.html_error_list }}
        {% endif %}
        <li>
            <label for="id_password1">Password:</label> {{ form.password1 }}
        </li>


        {% if form.password2.errors %}
        {{ form.password2.html_error_list }}
        {% endif %}
        <li>
            <label for="id_password2">Password again: </label>{{ form.password2 }}
            
        </li>

        <li><input type="submit" value="Create account" class="red-gradient submit-button"/></li>
    </ul>
</label>
</form>
</div>
{% endblock %}

