{% extends "main/base.html" %}
{% load url from future %}

{% block content %}
<div id="login">
{% if not user.is_authenticated %}

<h2>Reset your password?</h2>
{% if form.errors %}
<ul class="error-list">
    <li>
        Please make sure your username and password are correct. 
    </li>
</ul>
{% endif %}

<form id="log-in" autocomplete="off" method="post" 
    action="">
{% csrf_token %}
<ul id="log-in-list">
    <li>
    <label class="hover-field" for="id_password">New Password</label> 
    {{ form.password }}
    </li>
    <li>
    <label class="hover-field" for="id_repeat_password">Repeat Password</label> 
    {{ form.repeat_password }}
</li>

    <li><input type="submit" value="get new password" class="red-gradient submit-button"/></li>
</ul>
</form>
<div class="link-button">Not yet a member? <a href="/accounts/register/"
        title="register">Registering</a> has benefits.</div>
{% else %}
    <ul>You've already logged in! Go to your <a
            href="/accounts/profile/">profile</a></ul>
{% endif %}
</div>
{% endblock %}



