{% extends "main/base.html" %}

{% block title %} - Welcome{% endblock %}

{% block set-show %}splash{% endblock %}

{% block content %}

<div id="register" class="hide">
{% if form.errors %}
<ul class="error-list">
    {% if "password1" in form.errors or "password2" in form.errors%}<li> Please make sure your passwords are the same. </li>{% endif %}
    {% if "username" in form.errors %} <li>The username you have selected is already in use.</li>{% endif %}
</ul>
{% endif %}
<form action="/accounts/register/" autocomplete="off" method="post">
    {%csrf_token%}
    <ul id="register-list">
        {% if registerForm.error_dict %}
            <p class="error">Please correct the errors below.</p>
        {% endif %}
        {% if registerForm.username.errors %}
            {{ registerForm.username.html_error_list }}
        {% endif %}
        <li>
            <label class="hover-field" for="id_username">Nickname</label> {{ registerForm.username }}
        </li>

        {% if registerForm.password1.errors %}
            {{ registerForm.password1.html_error_list }}
        {% endif %}
        <li>
            <label class="hover-field" for="id_password1">Secret Word</label> {{ registerForm.password1 }}
        </li>


        {% if registerForm.password2.errors %}
        {{ registerForm.password2.html_error_list }}
        {% endif %}
        <li>
            <input type="hidden" name="password2" value="Hank" id="id_password2"> 
          </li>

        <li><input type="submit" value="Create account" class="red-gradient submit-button"/></li>
    </ul>
    <br/>
    or  
    <a class="facebook-login"
  href="https://www.facebook.com/dialog/oauth?client_id=459911974049419&scope=offline_access,email&redirect_uri=http://localhost:8000/accounts/facebook/&state={% now "ynDbjY" %}{{client_sub_domain}}"><img
    src="{{STATIC_URL}}images/facebook-log-in.gif"/></a>
</form>
</div>

<div id="login" class="hide">
  {% if form.errors %}
<ul class="error-list">
    {% if "password1" in form.errors or "password2" in form.errors%}<li> Please make sure your passwords are the same. </li>{% endif %}
    {% if "username" in form.errors %} <li>The username you have selected is already in use.</li>{% endif %}
</ul>
{% endif %}
{% if form.errors %}
<ul class="error-list">
    <li>
        Please make sure your username and password are correct. 
    </li>
</ul>
{% endif %}

<form id="log-in"  autocomplete="off" method="post" action="{% url django.contrib.auth.views.login %}">
{% csrf_token %}
  <ul id="log-in-list">
    <li>
            <label class="hover-field" for="id_login_username">Nickname</label> 
           <input id="id_login_username" type="text" name="username" maxlength="30">    
    </li>
    <li>
            <label class="hover-field" for="id_password">Secret Word</label> 

      {{ form.password }}
    </li>
    <li><input type="submit" value="login" class="red-gradient submit-button"/></li>
    <input type="hidden" name="next" value="{{ next }}" />
  </ul>

  <div class="form-help"><a href="/accounts/password/"
        title="forgot password">Forgot your password?</a>
  </div>
or <a class="facebook-login"
  href="https://www.facebook.com/dialog/oauth?client_id=459911974049419&scope=offline_access,email&redirect_uri=http://localhost:8000/accounts/facebook/&state={% now "ynDbjY" %}{{client_sub_domain}}"><img
    src="{{STATIC_URL}}images/facebook-log-in.gif"/></a>

</form>
</div><!-- login -->
<div id="splash-title">
<img class="otter" style="float:left;position:absolute;" src="{{STATIC_URL}}images/ideaotterbw.gif"/>

  <h1>Remember Ideas</h1><h1> Be Inspired </h1><h1> Work Together</h1>


<div id="recent-ideas">
  <h3> Here's what some people have been thinking up: </h3>
  <ul class="idea_list">

  {% for idea in recent_ideas %}
        {% include "main/sub_idea_list_item.html" %}
 
  {% endfor %}
  </ul>
  <a href="{% url all-ideas %}" title="view more ideas">view more ideas</a>
</div>
</div><!-- splash-title -->
<div id="about">

  <p class="right">
  "EUREKA!" If that is what you screamed earlier in the bathtub, you've come to
  the right place. Do you have any idea? An inspiration? A plan? A project? An
  answer to a question? Put it up!  </p>

  <p class="left">
  We believe in ideas. No matter how simple, ridiculous, or silly. Why? Because
  ideas lead to movement, which is what gets us <i>there</i> (you know the
  place I mean). That's why we set Idea Otter up. We want to enable you to share
  your ideas, to get feedback on them, and to discover more. This isn't
  twitter, full of links, pancakes, and idleness. And it's not g+, full of good
  photos. This is an incubator - and we hope the eggs are just about to crack
  open and fly. 
  </p>

  <p class="right">
  How it works: Whenever you think of something, just use the
  <em>bookmarklet</em> to jot it down. Other users of the site can than see
  what it is you thought of, comment on it, and help you expand your ideas. Use
  tags to make it indexable, if you can. We'll suggest some for you.

  </p>

  <p class="left">
    We don't want to get in the way of you and your thoughts, so we've made the
    process <em>as simple as possible</em>. Ideas can come at any moment, and
    you can't always act on them. What you think of could be the next Facebook,
    or save the planet. Maybe you don't have that idea right now - no bother - You can browse other users' ideas. If you like something, tell them. If you'd love to work on it, share it.
    </p>

    <p class="right">
    <em>My idea isn't that good.</em> How do you know that? Maybe we'll
    disagree. <em>I have too many ideas!</em> Uh, that's not a problem. Share
    them all. <em>What about intellectual property?</em> Somehow, you're not getting it.
</p>

</div>
{% endblock %}


