
{% if perms.app.add_vote %}
<div class="voting">
    {% if idea.voted_on %}
        hello
    {% endif %}
<form action="" method="post" >{% csrf_token %}
    {{voteUpForm.vote}}
    <input type="hidden" name="idea" value="{{idea.id}}" id="id_idea">
    <input type="submit" name="vote" value="+" class="vote-up" title="vote-up"/>
</form>
<!--<form action="" method="post" >{% csrf_token %}
    {{voteDownForm.vote}}
    <input type="hidden" name="idea" value="{{idea.id}}" id="id_idea">
    <input type="submit" name="vote" value="-" class="vote-down"/>
</form>-->
</div>
{% endif %}
