{% load markup %}

<li class="idea">

<div id="idea-wrapper">
    <a href="{% url idea idea.id %}">
    <p>{{idea.idea|slice:":140"}}{%if idea.idea|length > 140%}...{%endif%}</p>
</a>
<div class="bottom {% if idea.started %}started{% endif %}">
	<a href="{% url view-user idea.user.id %}" title="{{idea.user}}">
	                {% include "main/sub_profile_images.html" with user=idea.user size="35" %}
	            </a>	

            <span class="date">{{idea.date|timesince}} ago</span>
            {% ifequal idea.user user %}
            <a href="{% url delete-idea idea.id %}" class="delete"></a>
            {% endifequal %}
            {% include "main/sub_vote.html" %}
        </div>
</div>
    </li>
