{% extends "main/base.html" %}
{% block content %}
{% if form.errors %}
    <ul>
        {% for error in form.errors %}
            <li class="error-list">{{error}}</li>
        {% endfor %}
    </uL>
{% endif %}
    {% if messages %}
    <ul>
        {% for message in messages %}
            <li class="error-list">{{message}}</li>
        {% endfor %}
    </uL>

{% endif %}
<div id="profile" class="span-5">
    <div class="idea-container">
        
        <div id="profile-pic">
            {% include "main/sub_profile_images.html" with user=profile_user%}
        </div>

    <div class="main-profile">
        <h1>{{profile_user.username}}</h1>
        <br/>
    </div>
    <br/>


        <div class="profile-box first">
            <h3><a href="#ideas">Posted {{ideas_len}} ideas</a></h3>
        </div>
        <div class="profile-box">
            <h3><a href="/slate/">Created {{slates_len}} slates</a></h3>

        </div>
</div><!-- ./container-->
<div class="right-bar">
    <p>
    <a class="edit-link" href="/slate/">Your Slates</a>
    </p>
</div>
<div style="clear:both;"></div>
        <div class="profile-box wide first">
            <h3>Liked {{voted_len}} ideas</h3>
            Most recent:
            <ul class="idea_list">
                {% for vote in voted_on %}
                {% include "main/sub_idea_list_item.html" with idea=vote.idea %}
                {% empty %}
                You haven't liked any ideas yet.
                {% endfor %}
            </ul>
        </div>
        <div style="clear:both;"></div>
        <div class="profile-box wide first">
            <h3>Commented on {{comments_len}} ideas</h3>
            Most recent:
            <ul class="idea_list">
                {% for idea in commented_on %}
                {% include "main/sub_idea_list_item.html" %}
                {% empty %}
                You haven't liked any ideas yet.
                {% endfor %}
            </ul>
        </div>
        <div style="clear:both;"></div>

        <div class="profile-box wide first">
            <h3 id="ideas">Their ideas:</h3>
            <ul class="idea_list">
                {% for idea in your_ideas %} 
                {% include "main/sub_idea_list_item.html" %}
                {% empty %}
                You haven't posted any ideas yet. <a href="/">Post some</a>!
                {% endfor %}
            </ul>
        </div>
</div>
{% endblock %}
