/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
    color:#3b3b3b;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#111;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#111;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

img{border:none;}

.center-page{
    text-align:center;
    width:100%;
    margin:0 auto;
}

.span-12,.span-5{
    margin:0 auto;
    padding:0 12px 0 12px;
    max-width:1080px;
}

.span-4{
    max-width:864px;
    margin: 0 auto;
    padding: 0 12px;
}

/**********
 *
 * Ideas
 *
 */

.otter{
    margin-left:100px;
    display:inline-block;
}

a{
    color:#333;
    transition: color .2s ease-in-out;
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
}

a:hover{
    color:#555;
    transition: color .2s ease-in-out;
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
}

em{
    font-weight:bold;
}


header{
}

#header-wrapper{
    height:34px;
}

#menu-strip{
    margin-top:4px;
    height:4px;
    background:url('../images/header-banner.gif') no-repeat center center;
    background-size:100%;
}

.meta{
    float:right;
    margin-top:10px;
}

.meta a{
    padding:4px;
}

#header-wrapper h1{
    color:#454545;
    float:left;
    display:inline-block;
    margin-top:6px;
    font-size:1.5em;
}

h1 a{
    text-decoration:none;
}

body{ 
    background:#efefef;
    position:relative;
    font-family:Georgia,Times,serif;/*"Helvetica",Arial,sans-serif;*/}

img.ideaotter{
    position:absolute;
    bottom:-48px;
    right:48px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    opacity:.4;
}
#content{
    margin-top:44px; /* width of menu-strip */
    margin-bottom:96px;
    display:block;
    width:auto;
}

#content h1{
    font-family:"Georgia",Times, serif;
    font-size:3em;
    color:#00424c;
    text-shadow:2px 0px 1px #000;
    margin:0 0 .4em 0;

}

#content h2{
    text-align:center;
    font-family:"Georgia",Times, serif;
    font-size:3em;
    color:#00424c;
    text-shadow:2px 0px 1px #000;
    margin:.6em 0 .4em 0;
}

#content h3{
    font-size:2em;
    margin:.6em 0 .4em 0;
}

#content h4{
    font-size:1.4em;
    margin:2em 0 .8em 0;
}

.red-gradient{
    background: rgb(255,48,25); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,48,25,1) 0%, rgba(207,4,4,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,48,25,1)), color-stop(100%,rgba(207,4,4,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
    transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    opacity:.8;

}

.red-gradient:hover{
    opacity:.95;
}
.red-gradient:active{
    background: rgb(255,48,25); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,48,25,1) 0%, rgba(165,3,3,1) 2%, rgba(207,4,4,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,48,25,1)), color-stop(2%,rgba(165,3,3,1)), color-stop(100%,rgba(207,4,4,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(165,3,3,1) 2%,rgba(207,4,4,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(165,3,3,1) 2%,rgba(207,4,4,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(165,3,3,1) 2%,rgba(207,4,4,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(165,3,3,1) 2%,rgba(207,4,4,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
}

.blue-gradient{
    border:1px solid rgb(0,80,133);
    background-image: linear-gradient(bottom, rgb(0,204,250) 100%, rgb(0,80,133) 0%);
    background-image: -o-linear-gradient(bottom, rgb(0,204,250) 100%, rgb(0,80,133) 0%);
    background-image: -moz-linear-gradient(bottom, rgb(0,204,250) 100%, rgb(0,80,133) 0%);
    background-image: -webkit-linear-gradient(bottom, rgb(0,204,250) 100%, rgb(0,80,133) 0%);
    background-image: -ms-linear-gradient(bottom, rgb(0,204,250) 100%, rgb(0,80,133) 0%);
    background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(1, rgb(0,204,250)),
    color-stop(0, rgb(0,80,133))
    );
    opacity:.80;
    transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;

}
.blue-gradient:hover{
    opacity:.95;
    transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;

}
.blue-gradient:active{
    background-image: linear-gradient(bottom, rgb(0,204,250) 100%, rgb(0,80,133) 0%);
    background-image: -o-linear-gradient(bottom, rgb(0,204,250) 100%, rgb(0,80,133) 0%);
    background-image: -moz-linear-gradient(bottom, rgb(0,204,250) 100%, rgb(0,80,133) 0%);
    background-image: -webkit-linear-gradient(bottom, rgb(0,204,250) 100%, rgb(0,80,133) 0%);
    background-image: -ms-linear-gradient(bottom, rgb(0,204,250) 100%, rgb(0,80,133) 0%);
    background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(1, rgb(0,204,250)),
    color-stop(0, rgb(0,80,133))
    );
}


textarea, input[type=text]{
    width:60%;
    outline-width: 0;
    padding:.3em;
    font-size:1.4em;
    border:1px solid #9f9f9f;
    border-radius:4px;
    color:#585858;
    background-color:white;
    text-align:left;
    box-shadow:0px 0px 4px #888;
    transition: box-shadow .1s linear;
    -webkit-transition: box-shadow .1s linear;
    -moz-transition: box-shadow .1s linear;

}
textarea{
    height:4em;
}

input[type=text]:focus, textarea:focus{
    box-shadow:0px 0px 4px #191919;
    transition: box-shadow .1s linear;
    -webkit-transition: box-shadow .1s linear;
    -moz-transition: box-shadow .1s linear;

}

textarea#id_tags{
    height:2.1em;
}

textarea#id_comment{
    height:2.1em;
    margin-bottom:.5em;
}


form{
    text-align:center;
}

form ul{
    list-style:none;
}

form .form-help{
    padding-top:6px;
}

form .facebook-login{
    padding-top:24px;
    display:inline-block;
}

form .facebook-login img{
    border-radius:4px;
    vertical-align:middle;
}

input[type=submit]{
    font-size:1.6em;
    border-radius:4px;
    padding:.2em .4em;
    color:white;
    margin:0 auto;
    cursor:pointer;
    font-family:"Helvetica",Arial,sans-serif;
}


form input[type=submit].submit-button{
    border:1px solid red;
    box-shadow:3px 3px 4px #c0c0c0;
}

form#idea-form input[type=submit]:hover{
    box-shadow:2px 2px 4px #a0a0a0;
}

ul.idea_list, #register, #log-in {
    max-width:1080px;
    width:100%;
    margin:4em auto 4em auto;
}

ul.idea_list li.idea{
    overflow:hidden;
    display:inline-block;
    background:#f4f4f4;
    border-radius:3px;
    width:30%;
    min-width:320px;
    vertical-align:top;
    margin:10px;
    box-shadow:0px 0px 3px #ccc;
    border:0px solid #e0e0e0;
}
ul.idea_list li.idea p{
    padding: 18px;
    transition: color .2s ease-in-out;
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;

}

ul.idea_list li.idea a{
    color:#040404;
    text-decoration:none;
}

ul.idea_list li.idea a:hover p{
    color:#6a6a6a;
    transition: color .2s ease-in-out;
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
}

ul.idea_list li.idea .bottom{
    background:rgba(50,50,50,.1);
    display:inline-block;
    width:90%;
    text-align:left;
    height:40px;
    padding:6px 5% 0px;
}

ul.idea_list li.idea .bottom img{
    width:35px;
    height:35px;
    vertical-align:middle;
    display:inline-block;
    border-radius:2px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    -o-border-radius:2px;
}

ul.idea_list li.idea .bottom .date{
    display:inline-block;
    padding-top:9px;
    font-size:.7em;
}
ul.idea_list li.idea .bottom .voting{
    float:right;
    margin-top:4px;
}

ul.idea_list li.idea .bottom .delete{
    width:20px;
    float:right;
    height:20px;
    background:url('../images/garbage.png') no-repeat center center;
    opacity:.8;
    margin-top:7px;

    display:inline-block;
}

ul.idea_list li.idea .bottom.started{
    border-left:4px solid rgb(19,168,158);
    border-left:4px solid rgba(19,168,158,1);
}

.idea-vote{
    display:inline-block;
    position:relative;
    right:60px;
    top:34px;
}

.voting input[type="submit"]{
  font-size:10px;
}

.voting form{
  display:inline-block;
}

.voting input{
  padding:0;
  width:20px; 
  height:20px; 
  border:none;
  display:block;
}
.idea-vote .voting input{
    width:40px;
    height:40px;
}

.vote-up{
    background:url('../images/thumbs-up.png') no-repeat center center;
    color:black;
    opacity:.8;
}

.idea-vote .vote-up{
    background:url('../images/thumbs-up-large.png') no-repeat center center;
    opacity:.8;

}


.vote-up.voted{
    background:url('../images/thumbs-up-color.png') no-repeat center center;
}

.idea-vote.voted_on .vote-up{
    background:url('../images/thumbs-up-large-color.png') no-repeat center center;
}


.vote-down{
  background:#fc8585;
}

li.idea form{ display:inline-block; }

li.idea form input{
    font-size:1em;
    width:24px;
    height:24px;
    display:inline-block;
}

.idea-container, .slate-idea-container{
    float:left;
    display:block;
    width:65%;
    min-width:300px;
    display:position:relative;
    margin-top:-24px;
}


.idea-blurb, .idea-elaborate, .slate-idea-container{ 
    font-size: 1.2em;
    color:#00313c;
    line-height:auto;
    padding-bottom:1.5em;
    display:block;
}
#content .idea-elaborate h1, #content .idea-elaborate h2{
    font-size:1.5em;
    text-align:left;
}

.idea-blurb:first-line{
    font-size:1.8em;
}

.right-bar{
    float:right;
    width:25%;
    vertical-align:top;
    padding:12px;
}

.right-bar ul{
    list-style:none;
}

.right-bar .edit-link{
    background-color:#f0f0f0;
    border-radius:2px;
    border:1px solid #e0e0e0;
    padding:12px 16px;
    display:inline-block;
    width:100%;
    margin-bottom:24px;
    box-shadow:0 0 1px #ccc;
    background:url('../images/edit.png') no-repeat 96%;
}

.right-bar .edit-link.started{
    border-left:4px solid rgb(19,168,158);
    border-left:4px solid rgba(19,168,158,1);
}

.right-bar .tag{
    display:inline-block;
    padding:6px 8px;
    border-radius:4px;
    margin-top:4px;
    text-decoration:none;
    color:#fff;
    font-family:Helvetica,Arial,sans-serif;
}

.right-bar .tag:hover{
    color:#fff;
}

.right-bar .idea-author{
    margin-top:24px;
}

.right-bar .share-links{
  margin-top:12px;
}

.right-bar .share-via-email a{
    font-size:.9em;
    display:inline-block;
    padding:6px 8px;
    border-radius:4px;
    background-color:#fefefe;
    transition: background-color .1s linear;
    -webkit-transition: background-color .1s linear;              
    -moz-transition: background-color .1s linear;  
    background-color: #F8F8F8;
    background-image: -webkit-gradient(linear,left top,left bottom,from(white),to(#DEDEDE));
    background-image: -moz-linear-gradient(top,white,#DEDEDE);
    background-image: -o-linear-gradient(top,white,#DEDEDE);
    background-image: -ms-linear-gradient(top,white,#DEDEDE);
    background-image: linear-gradient(top,white,#DEDEDE);
    border: #CCC solid 1px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-weight:bold;
    text-decoration:none;
}

.right-bar .twitter-share-button:hover{
    background-color:#fafafa;
    transition: background-color .1s linear;
    -webkit-transition: background-color .1s linear;          
    -moz-transition: background-color .1s linear;  
}


#bookmarklet{
    text-align:center; 
}

#bookmarklet p{
    line-height:1.5em;
    padding:2em;
}

#bookmarklet a{
    text-align:center;
    color:#111;
    background-color:#f0f0f0;
    border-radius:2px;
    border:1px solid #e0e0e0;
    padding:6px 8px;
}

.link-button{
    text-align:center;
    color:#111;
    background-color:#f0f0f0;
    border-radius:2px;
    border:1px solid #e0e0e0;
    padding:6px 8px;
    width:80px;
    display:block;
    margin:0 auto 8px auto;
    box-shadow:0 0 1px #ccc;
}
.link-button a{ color:#444; }

#login .link-button{
    width:100%;
    padding:8px 0;
}

#login h1, #register h1{
    text-align:center;
}

.verify {
    max-width:500px; 
    width:60%;
    margin:0 auto;
    padding:12px;
    line-height:1.2em;
}

.error-list{
    border:1px solid #ffc9bf;
    background:#ffeeee;
    background:rgba(255,238,238,0.4);
    padding:12px;
    margin:0 auto;
    max-width:500px;
    width:60%;
    list-style:none;
    text-align:center;
}



#register-list, #log-in-list, #email-form{
    text-align:center;
}

#register-list li, #log-in-list li, #email-form li, #search-form li{
    display:inline-block;
    position:relative;
}

label{
  display:block;
  margin:.8em 0 .3em 0;
}

label[for=id_private]{display:inline-block}

#register-list li label, #log-in-list li label, #email-form li label, #search-form li label{
    position:absolute; 
    top:-10px;
    left:8px;
    font-size:1.4em;
}

#search-form{
    margin-top:24px;
}

#search-form input[type=text]{
    background:#EFEFEF;
    border-top:none;
    border-right:none;
    border-left:none;
    border-radius:0;
    box-shadow: 0px 0px 0px #efefef;
}

#search-form input[type=submit]{
    margin-left:12px;
    width:auto;
}

#search-form input[type=text]:focus{
    background:#fefefe;
    /*box-shadow:0px 2px 1px #191919;*/
    transition: background-color .1s linear;
    -webkit-transition: background-color .1s linear;
    -moz-transition: background-color .1s linear;
}




#register-list input, #log-in-list input, #email-form input, #comment-form input{
    font-size:1.4em;width:220px;padding:4px;}

#search-form input{
    width:400px;
    margin-left:-8px;
    margin-top:-8px;
}


/***********
 *
 * Comments
 *
 * *******/

#comment-form{
    margin-top:48px;
    width:60%;
    text-align:left;
}

#comment-form textarea{
    font-size:1em;
    width:100%;
    height:4em;
}

#comment-form input[type=submit]{
    font-size:1em;
    width:128px;
}


#comment-form li{
    list-style:none;
}

#comment-form li label{
    line-height:1.4em;
    margin:0;
}

#comment-form .submit-button{
    margin:auto;
}

ul#idea-comments{
    list-style:none;
    width:60%;
    margin-top:48px;
    max-width:600px;
    border:1px solid #efefef;
    border-radius:4px;

}

#idea-comments li{
    font-size:1.2em;
    padding:.8em;
    background:rgb(225,225,225);
    margin:12px 0;
    border-radius:2px;
    background:rgba(225,225,225,.70);
}

#idea-comments li.odd{
    background:#f1f1f1;
    background:rgb(230,230,230);
    background:rgba(232,232,232,.70);
}

#idea-comments li header{
    height:24px;
    position:relative;
    vertical-align:middle;
}


.author, .participant{
    color:#efefef;
    font-size:.8em;
    vertical-align:top;
    padding:2px 6px;
    background-color:#2bb673;
    border-radius:3px;
    display:inline-block;
    box-shadow:0px 0px 10px #aaa;
}

#idea-comments li header .author.current{
    background-color:#2bb0b5;

}

#idea-comments .timesince{
    color:#686868;
    float:right;
    font-size:.6em;
}

#idea-comments .text{
    margin-top:12px;
}

.not-found img{
    margin:0 auto;
    display:block;
}


/*
 *
 * Slate
 *
 * */

p.invite{
    text-align:center;
    margin:0 auto 2em auto;
    font-size:1.2em;
}


#content .slate-idea-container{
    text-align:left;
    margin-top:12px;
}

.slate-idea-container form{
    text-align:left;
}

.slate-idea-container input[type=text]{
    width:80%;
}

.slate-idea-container textarea{
    width:80%;
}
.slate-idea-container input[type=submit]{
    font-size:1.4em;
}
.slate-idea-container ~ .center-page > .idea_list{
    margin-top:2em;
}

#content .slate-idea-container h2{
    font-size:2em;
    text-align:left;
}

.slate-idea-container + .right-bar{
    margin-top:32px;
}

#content .right-bar h4:first-child{
    margin-top:0px;
}

.right-bar .participant{
    font-size:1em;
    margin:4px 4px 4px 0;
}

.right-bar form{
    text-align:left;
}
.right-bar form textarea{
    width:100%;
    font-size:1em;
}

.right-bar form input[type=submit].submit-button{
    font-size:1em;
    width:128px;
}

/*
 *
 * About, Contact
 *
 * */
#about{
    max-width:1080px;
    margin:50px auto 180px;
    padding:1em;
    line-height:2em;
}

#about h1{
    margin-top:24px;
    text-align:left;
    font-size:2em;
}
#about h2{
    margin-top:58px;
    text-align:left;
    font-size:1.8em;
    color:#333;
    text-shadow:none;
}

#about .left-menu{
    text-align:right;
    width:180px;
    font-size:1.4em;
    line-height:2.0em;
    margin-top:48px;
    float:left;
    display:inline-block;
    list-style:none;
}

#about .about-text{
    display:block;
    float:right;
    margin:0 270px 180px 0;
}

#about p{
    margin-bottom:5em;
    max-width:450px;;
    font-size:1.3em;
    clear:both;
}

#about p.right{
    float:right;clear:both;
    display:block;
}

#contact{
    width:540px;
    margin: 0 auto;
}

#about p, #contact p{
    margin: 12px 0;
}

#about h1 + a{
    float:right;
}


/*
 *
 * Profile 
 *
 * ********/

#profile #profile-pic{
    display:inline-block;
    float:left;
    margin:24px 18px 0 0;
    width:100px;
    height:100px;
    position:relative;
    overflow:hidden;
}

#profile #profile-pic img{
    width:100%;
    height:100%;
    position:absolute;
}

#profile #profile-pic #id_photo{
    font: 500px monospace;
    opacity:0;
    filter: alpha(opacity=0);
    position: absolute;
    z-index: 1;
    top:0;
    right:0;
    padding:0;
    margin: 0;
    cursor:pointer;
}

#profile #profile-pic span{
    display:none;
}

#profile #profile-pic:hover span{
    position:absolute;
    bottom:0;
    padding:4px;
    width:100%;
    color:#efefef;
    font-weight:500;
    font-family:"Lucida Grande", sans-serif;
    background-color:rgb(0,20,22);
    background-color:rgba(0,20,22,.8);
    display:inline-block;
}

#profile form{
    text-align:left;
}

#profile form input[type="file"]{
    font-size:.8em;
    display:block;
    width:100px;
}


#profile form input[type="submit"]{
    font-size:.8em;
}

#profile .main-profile{
    display:inline-block;
    margin-bottom:24px;
}

#profile h1{
    margin-top:24px;
}

#profile h3 a{
    text-decoration:none;
}

#profile .profile-box{
    display:inline-block;
    margin:2em 0 1em 8em;
}

#profile  .profile-box.first{
    margin-left:0;
}

#profile .idea_list{
    margin:0;
}
